
html{
    display: grid;
    justify-items: center;
}
h1{
    font-family: 'Gugi', cursive;
    font-size: 10vmin;  
    margin: 0vmin auto;
}
h4{
    font-size:  5vmin;
    margin: 0 auto 1vmin auto;
}
h1, h4 {
    font-family: Helvetica, sans-serif;
    text-align: center;
}
button{
float: right;
font-size: 24px;
padding: 10px;
border-radius: 10px;
}
.score{
    text-align: center
    text-justify: center;
    font-family: Arial, Helvetica, sans-serif;
}   
#container { 
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;
    background-color: salmon;
    height: 800px;
    width: 1500px;
    border-radius: 1%;    
} 
 #player{
    background-image: url(https://i.imgur.com/WKRRfje.png);
    background-size: 110px, 156px;
    background-color: rgb(216, 170, 130);
    width: 110px;
    height: 156px;
    grid-column: 4;
    grid-row: 4;
}

#cpu{
    background-image: url(https://i.imgur.com/WKRRfje.png);
    background-size: 110px, 156px;
    background-color: bisque;
    width: 110px;
    height: 156px;
    grid-column: 4;
    grid-row: 2;
}
 
#p1-Card{
    background-color: white;
    width: 100px;
    height: 150px;
    grid-column: 1;
    grid-row: 3;
    margin: 0px 0px 40px 0px ;/*is it possible to adjust the position  more on the table*/
}
#cpu-Card{
    background-image: url(image-assets/Card Back 2.png);
    background-color: black;
    width: 100px;
    height: 150px;
    grid-column-start: 2;
    grid-column-end: 3;
    margin: 10px;
}
#p1S{
    background-color: purple;
    width: 100px;
    height: 150px;
    grid-column: 1;

}
#cpuS{
    background-color: orange;
    width: 100px;
    height: 150px;
    grid-column: 7;
}
#p1-pile{
    background-color: crimson;
    width: 70px;
    height: 105px;
    grid-row: 4;
    grid-column: 3;
    transform: rotate(-45deg);
    margin: 30px;
}
#cpu-pile{
    background:yellow;
    width: 70px;
    height: 105px;
    grid-column: 5;
    transform: rotate(-45deg);
    margin: 50px;
}
#table{
    display: grid;
    grid-column: repeat(5 1fr);
    grid-row: 1;
    background-color: brown;
    width: 1000px;
    height: 300px;
    justify-items: center;
    grid-row-start: 4;
    grid-row-end: 3; 
    grid-column-start: 3;
    grid-column-end: 6;
    border-radius: 5% ;
   
}